<%layout('/layout/boilerplate')%>
<style>
  .f{
    margin-top: 10px;
    position: absolute !important;
    bottom: 0px !important;
    width: 100%;
  }
  .form{
    width: 50%;
    margin: 0px auto;
  }
</style>
<body>
    <div class="container my-3">
        <form class="form needs-validation" action="/singup" method="post" novalidate>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter user-email.
              </div>
            </div>
            <div class="md-4">
                <label for="validationCustom01" class="form-label">User name</label>
                <input type="text" class="form-control" id="validationCustom01" name="username" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter user-name.
                  </div>
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter password.
              </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm-Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="confirm" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please enter Confirm-Password.
                </div>
              </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please choose me.
              </div>
            </div>
            <button type="submit" class="btn btn-success">SingUp</button>
          </form>
    </div>
</body>